/* navbar */
* {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

/* navbar */
.header {
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    width: 100%;
    z-index: 100000000000000000;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

.logo {
    width: 5.5%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    /* border: yellow 3px solid; */
    width: 94.5%;
}

.navbar li {
    list-style-type: none;
    margin-left: 5%;
}

li, span, a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}


a:hover {
    color: #A7AAB2;
    transition: 0.3s;
}


/* quiz */
.quiz {
    min-height: 85vh;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #A7AAB2;
    /* border: red 3px solid; */
    padding-top: 3%;
    padding-bottom: 3%;
}

.quiz .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #767881;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 20px;
    /* border: red solid 3px; */
}

.quiz .quiz-title h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

.quizes h1 {
    font-size: 50px;
    padding-bottom: 1%;
}

.quizes p {
    font-size: 30px;
    padding-bottom: 0.5%;
}

.quizes label {
    font-size: 25px;
}

.quizes .radios {
    /* border: red 3px solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.quizes button {
    padding: 2% 10%;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #A7AAB2;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
    border: none;
    color: black;
    letter-spacing: 0.1em;
}

.rad {
    margin-left: 30px;
}

.quiz_form {
    height: 15rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz_form:not(:first-child) {
    display: none;
}

#quiz_a {
    display: flex;
}


.resultado_align {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#res {
    display: none;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#soprano {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#soprano img {
    align-self: center;
    width: 40%;
    border-radius: 20px;
}

#sopranino {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#sopranino img{
    align-self: center;
    width: 40%;
    border-radius: 20px;
}

#alto {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alto img{
    align-self: center;
    width: 40%;
    border-radius: 20px;
}

#tenor {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tenor img {
    align-self: center;
    width: 40%;
    border-radius: 20px;
}

#baixo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#baixo img {
    align-self: center;
    width: 40%;
    border-radius: 20px;
}

.analytics {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grafico {
    display: none;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 80%;
    background-color: #767881;
    padding: 3%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#btn_recomeco {
    padding: 1.5% 6%;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #A7AAB2;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
    border: none;
    color: black;
    letter-spacing: 0.1em;
    display: none;
    margin-top: 5%;
}


/* footer */

.footer .container {
    padding-top: 1%;
    padding-bottom: 1%;
    /* border: solid 3px red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .container h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-shadow: 4px 6px 0px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.footer .container p {
    font-size: 18px;
}

.contacts .icons {
    display: flex;
    justify-content: center;
    margin-left: 2%;
}

.icons a {
    margin-right: 3%;
    text-decoration: none;
    color: black;
}

