.quiz .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/quiz-wallpaper.png);
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 20px;
}

.quiz .quiz-title h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

#quiz_title {
    display: block;
}

.quizes h1 {
   font-size: 50px;
   padding-bottom: 1%;
}

.quizes p {
   font-size: 30px;
   padding-bottom: 0.5%;
}

.quizes label {
   font-size: 25px;
}

.quizes .radios {
    /* border: red 3px solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.quizes button {
    padding: 2% 10%;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #A7AAB2;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
    border: none;
    color: black;
    letter-spacing: 0.1em;
}

.rad {
    margin-left: 30px;
}

#quiz_a {
    display: block;
    text-align: center;
    min-height: 300px;
}

#quiz_b {
    display: none;
    text-align: center;
    min-height: 300px;
}

#quiz_c {
    display: none;
    text-align: center;
    min-height: 300px;
}

#quiz_d {
    display: none;
    text-align: center;
    min-height: 300px;
}


/* footer */

.footer .container {
    padding-top: 2%;
    padding-bottom: 2%;
    /* border: solid 3px red; */
    justify-content: space-around;
    align-items: center;
}

.footer .container h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-shadow: 4px 6px 0px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.footer .container p {
    font-size: 18px;
}

.contacts .icons {
    display: flex;
    justify-content: center;
    margin-left: 2%;
}

.contacts i {
    margin-left: 5%;
}



