* {
    padding: 0;
    margin: 0;
}

.banner {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

.header {
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 0.8%;
    padding-top: 0.8%;
    position: fixed;
    width: 100%;
} 

.container {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

.logo {
    width: 8%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    /* border: yellow 3px solid; */
    width: 90%;
}

.navbar li {
    list-style-type: none;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: white;
}

