/* primeira tela */
* {
    margin: 0;
    border: 0;
    font-family: 'Fredoka', sans-serif;
}

/* navbar */
.header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 100000000000000000;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

.logo {
    width: 5.5%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    /* border: yellow 3px solid; */
    width: 94.5%;
}

.navbar li {
    list-style-type: none;
    margin-left: 5%;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

.navbar li a:hover {
    color: #A7AAB2;
    transition: 0.3s;
}

.background {
    background-color: #CBCCD4;
}


/* login */

.screen {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario_login {
    /* border: solid 3px purple; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
}

section {
    /* border: solid 3px rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 3em;
    border-radius: 20px;
    background-color: white;
}

section h1 {
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

section h2 {
    font-size: 30px;
    margin-top: 15px;
    font-family: 'Fredoka One', cursive;
}

section button {
    padding: 5% 30%;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: #D4CCCB;
    font-weight: 900;
    margin-bottom: 15px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.1em;
}

section button:hover {
    background-color: #a49e9e;
}


.ipt_login {
    padding: 7%;
    background-color: #D4CCCB;
    border-radius: 20px;
}

.ipt_login::placeholder {
    color: black;
}

.login {
    /* border: solid 3px purple; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 7%;
}

label {
    /* border: blue solid 3px; */
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}

.outros {
    /* border: blue solid 3px; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 15px;
}

.outros a{
    text-decoration: none;
    color: black;
    font-family: 'Fredoka One', cursive;
}

.outros p {
    margin-left: 15px;
}

.outros a:hover {
    color: #a49e9e;
    cursor: pointer;
}
